<div class="p-5 m-5 container w-50 mx-auto">
    <form action="/new-student" method="post" id="formCreateStudent">
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="name" name="name"
                   placeholder="Name"
                   required>
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="firstSurname"
                   name="firstSurname"
                   placeholder="First surname"
                   required>
            <label for="firstSurname">First surname</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="secondSurname"
                   name="secondSurname"
                   placeholder="Second surname"
                   required>
            <label for="secondSurname">Second surname</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email"
                   class="form-control"
                   id="email" name="email"
                   placeholder="name@example.com"
                   required>
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="tel"
                   class="form-control"
                   id="phone" name="phone"
                   placeholder="Phone number"
                   required>
            <label for="phone">Phone number</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control"
                      id="description"
                      name="description"
                      required>Description</textarea>
            <label for="description">Description</label>
        </div>
        <input type="hidden" class="form-control" id="image" name="image" value="image">
            <div class="text-center m-5 ">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
    </form>
</div>